<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.domain.ToastDAO">
	
	<!-- 게시물 -->
	<insert id="insertPost" parameterType="com.smhrd.domain.Toast">
		insert into toast values (toast_no_seq.nextval ,#{member_id}, #{contents}, sysdate)
	</insert>
	<select id="selectPost" resultType="com.smhrd.domain.Toast">
		select * from toast order by toast_no desc
	</select>
	<delete id = "deletePost" parameterType="String">
		delete from toast where toast_no = #{toast_no}
	</delete>
	
	<!-- 댓글 -->
	<insert id="addComment" parameterType="com.smhrd.domain.Toast_com">
        insert into toast_com values (tc_no_seq.nextval, #{toast_no}, #{member_id}, #{tc_contents}, 0, sysdate)
    </insert>
	<select id="selectComment" parameterType="String" resultType="com.smhrd.domain.Toast_com">
		SELECT * 
		FROM toast t, toast_com tc 
		WHERE t.toast_no=tc.toast_no 
		AND t.toast_no=#{toast_no} 
		ORDER BY tc.tc_no DESC
	</select>
	<delete id="deleteComment" parameterType="String">
		delete from toast_com where tc_no = #{tc_no}
	</delete>
	
	<!-- 짠 -->
	<insert id="addZzan" parameterType="com.smhrd.domain.Toast">
        insert into toast_zzan values (toast_zzan_zzan_no_seq.nextval ,#{toast_no}, #{member_id})
    </insert>
	<!-- 
	<select id="getZzan" resultType="String" parameterType="int">
        select zzan_no from toast_zzan where toast_no=#{toast_no}
    </select>
	 -->
	<update id="zzan" parameterType="String">
		update toast_zzan set zzan_no=zzan_no+1 where toast_no=#{toast_no} 
	</update>
	<update id="diszzan" parameterType="String">
		update toast_zzan set zzan_no=zzan_no-1 where toast_no=#{toast_no} 
	</update>
	
	<insert id="insertImg" parameterType="com.smhrd.domain.Toast">
		insert into toast_up 
		values (#{toast_no}, t_file_no_seq.nextval, #{t_file_path},#{t_file_name}, #{t_file_server})
			
		
	</insert>
	
	
</mapper>