<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.domain.ToastDAO">
	
	<!-- 게시물 -->
	<insert id="insertPost" parameterType="com.smhrd.domain.Toast">
		insert into toast values (toast_no_seq.nextval ,#{member_id}, #{contents}, sysdate ,#{t_file_path},#{t_file_name},#{t_file_realname},0)
	</insert>

<!-- 	<select id="selectPost" resultType="com.smhrd.domain.Toast">
		select t.toast_no,
		t.member_id, m.member_nick, t.toast_contents, t.toast_no,
		t.t_file_path, t.t_file_name, t.t_file_realname
		from toast t, member m
		where t.member_id = m.member_id
		order by t.toast_no desc
	</select> -->
	
 	<select id="selectPost" resultType="com.smhrd.domain.Toast">
		select t.toast_no,m.member_nick,t.toast_contents, t.toast_date,t.t_file_path,t.t_file_name,t.t_file_realname,t.zzan_count
		from toast t , member m
		where t.member_id = m.member_id
		order by toast_no desc
	</select> 
	
	<delete id = "deletePost" parameterType="String">
		delete from toast where toast_no = #{toast_no}
	
	<!-- 게시글 수정 -->	
	</delete>
	<update id="updatePost" parameterType="com.smhrd.domain.Toast">
		update toast 
		set toast_contents = #{contents}, toast_date = sysdate , t_file_path = #{t_file_path}, t_file_name=#{t_file_name}, t_file_realname=#{t_file_realname} 
		where toast_no = #{toast_no} 
	</update>
	
	
	<!-- 댓글 -->
	<insert id="addComment" parameterType="com.smhrd.domain.Toast_com">
        insert into toast_com values (tc_no_seq.nextval, #{toast_no}, #{member_id}, #{tc_contents}, 0, sysdate)
    </insert>
	<select id="selectComment" parameterType="String" resultType="com.smhrd.domain.Toast_com">
		SELECT tc.tc_no, tc.toast_no, m.member_nick, tc.tc_contents, tc.tc_zzan, tc.tc_date
		FROM toast t, toast_com tc, member m
		WHERE t.toast_no=tc.toast_no
		AND tc.member_id=m.member_id
		AND t.toast_no=#{toast_no} 
		ORDER BY tc.tc_no DESC
	</select>
	<delete id="deleteComment" parameterType="String">
		delete from toast_com where tc_no = #{tc_no}
	</delete>
	<update id="updateComment" parameterType="com.smhrd.domain.Toast_com">
		update toast_com set tc_contents=#{tc_contents}, tc_date=sysdate where tc_no = #{tc_no}
	</update>
	
<!-- 짠0523 -->
	<insert id="insertZn"
		parameterType="com.smhrd.domain.Toast">	
	insert into toast_zzan values (pozz_no_seq.nextval, #{toast_no}, #{member_id}, 1)
	</insert>
	
	<!-- <insert id="insertZn"
		parameterType="com.smhrd.domain.Toast">
		insert into toast_zzan values (+0, #{toast_no}, #{member_id}, 1)		
	</insert> -->
	 <update id="statZn"
	parameterType= "bigdecimal">
	update toast set zzan_count = zzan_count+1 where toast_no=#{toast_no}
	</update>
<!--     <update id="statZn"
	parameterType= "bigdecimal">
	update toast_zzan set zzan_no = zzan_no+1, zzan_stat = 1 where toast_no=#{toast_no}
	</update> -->
	
	<!-- <update id="statUnZn"
	parameterType= "bigdecimal">
	update toast_zzan set zzan_no = zzan_no-1 where toast_no=#{toast_no}
	</update> -->
	<update id="statUnZn"
	parameterType= "bigdecimal">
	update toast set zzan_count = zzan_count-1 where toast_no=#{toast_no}
	</update>
	
	<delete id="deleteZn"
		parameterType="com.smhrd.domain.Toast">
		delete from toast_zzan where toast_no = #{toast_no} and member_id=#{member_id}
	</delete>

	<select id="getZn" resultType="int" parameterType="bigdecimal">
		select
		zzan_count
		from toast
		where toast_no =#{toast_no}
	</select>

	<select id="allZn" resultType="com.smhrd.domain.PostZzanVO">
		select
		toast_zzan.zzan_no, toast_zzan.toast_no, toast_zzan.member_id, toast_zzan.zzan_stat,
		toast.zzan_count
		from toast_zzan
		left outer join toast
		on toast_zzan.toast_no = toast.toast_no
		order by toast_no asc
	</select>
	
		<!--댓글개수 -->
	<select id="countComment" parameterType="string" resultType="int">
	select count(tc_no) from toast_com group by toast_no having toast_no = #{toast_no} 
	</select>
	
</mapper>
