<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.domain.ToastDAO">
	
	
	<insert id="insertPost" parameterType="com.smhrd.domain.Toast">
		insert into toast values (toast_no_seq.nextval ,#{member_id}, #{contents}, sysdate)
	</insert>
	<select id="selectAll" resultType="com.smhrd.domain.Toast">
		select * from toast
	</select>
	<delete id = "deletePost" parameterType="String">
		delete from toast where toast_no = #{toast_no}
	</delete>
	<insert id="addComment" parameterType="com.smhrd.domain.Toast_com">
        insert into toast_com values (tc_no_seq.nextval, #{toast_no}, #{member_id}, #{tc_contents}, 0, sysdate)
    </insert>
	
</mapper>