<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinCon</servlet-name>
  	<display-name>JoinCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCon</servlet-name>
  	<display-name>DeleteCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailCheckCon</servlet-name>
  	<display-name>EmailCheckCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.EmailCheckCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCon</servlet-name>
  	<display-name>LoginCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutCon</servlet-name>
  	<display-name>LogoutCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LogoutCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCon</servlet-name>
  	<display-name>UpdateCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UpdateCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertPostCon</servlet-name>
  	<display-name>InsertPostCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.InsertPostCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCommentCon</servlet-name>
  	<display-name>AddCommentCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.AddCommentCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadDAO</servlet-name>
  	<display-name>UploadDAO</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.domain.UploadDAO</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>uploadCon</servlet-name>
  	<display-name>uploadCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.uploadCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FavorietesCon</servlet-name>
  	<display-name>FavorietesCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.FavorietesCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCommentCon</servlet-name>
  	<display-name>UpdateCommentCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UpdateCommentCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCommentCon</servlet-name>
  	<display-name>DeleteCommentCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteCommentCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostZzanCon</servlet-name>
  	<display-name>PostZzanCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.PostZzanCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteMemberCon</servlet-name>
  	<display-name>DeleteMemberCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteMemberCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FavoriteAjaxCon</servlet-name>
  	<display-name>FavoriteAjaxCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.FavoriteAjaxCon</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinCon</servlet-name>
  	<url-pattern>/JoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCon</servlet-name>
  	<url-pattern>/DeleteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailCheckCon</servlet-name>
  	<url-pattern>/EmailCheckCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCon</servlet-name>
  	<url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutCon</servlet-name>
  	<url-pattern>/LogoutCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCon</servlet-name>
  	<url-pattern>/UpdateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertPostCon</servlet-name>
  	<url-pattern>/InsertPostCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCommentCon</servlet-name>
  	<url-pattern>/AddCommentCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadDAO</servlet-name>
  	<url-pattern>/UploadDAO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>uploadCon</servlet-name>
  	<url-pattern>/uploadCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FavorietesCon</servlet-name>
  	<url-pattern>/FavorietesCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCommentCon</servlet-name>
  	<url-pattern>/UpdateCommentCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCommentCon</servlet-name>
  	<url-pattern>/DeleteCommentCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostZzanCon</servlet-name>
  	<url-pattern>/PostZzanCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMemberCon</servlet-name>
  	<url-pattern>/DeleteMemberCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FavoriteAjaxCon</servlet-name>
  	<url-pattern>/FavoriteAjaxCon</url-pattern>
  </servlet-mapping>
</web-app>
